<!--
  ~ Copyright viliam.kois@gmail.com Kois Viliam
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and limitations under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuit" verbose="1" >

  <test name="Zakladna funkcionalita" >
    <classes>
        <class name="sk.wlio.sx2.unit.readers.symbol.SlovoReaderTest"/>
        <class name="sk.wlio.sx2.unit.readers.symbol.SymbolAbstractReaderTest"/>
        <class name="sk.wlio.sx2.unit.readers.instrukcia.VratReaderTest"/>
        <class name="sk.wlio.sx2.unit.readers.instrukcia.PrikazReaderTest"/>
        <class name="sk.wlio.sx2.unit.readers.instrukcia.ParametreReaderTest"/>
        <class name="sk.wlio.sx2.unit.readers.instrukcia.InstrukciaReaderTest"/>
        <class name="sk.wlio.sx2.unit.readers.declaration.DeklaraciaPremennejReaderTest"/>
        <class name="sk.wlio.sx2.unit.readers.declaration.BlokReaderTest"/>
        <class name="sk.wlio.sx2.unit.readers.declaration.DeklaraciaPrikazReaderTest"/>
        <class name="sk.wlio.sx2.unit.readers.declaration.DeklaraciaParameterReaderTest"/>
        <class name="sk.wlio.sx2.unit.readers.declaration.DeklaraciaTriedaReaderTest"/>
        <class name="sk.wlio.sx2.unit.readers.vyraz.PremennaReaderTest" />
        <class name="sk.wlio.sx2.unit.readers.vyraz.VyrazJednoduchyReaderTest" />
        <class name="sk.wlio.sx2.unit.readers.instrukcia.PriradenieReaderTest" />
        <class name="sk.wlio.sx2.unit.readers.instrukcia.PodmienkaReaderTest" />
        <class name="sk.wlio.sx2.unit.readers.vyraz.CisloReaderTest" />
        <class name="sk.wlio.sx2.unit.readers.OperatorReaderTest" />
        <class name="sk.wlio.sx2.unit.TextContextTest" />
        <class name="sk.wlio.sx2.unit.readers.vyraz.VyrazReaderTest" />
        <class name="sk.wlio.sx2.unit.readers.symbol.ZatvorkaReaderTest" />
        <class name="sk.wlio.sx2.unit.visitors.KontextovaKontrolaVisitorTest" />
        <class name="sk.wlio.sx2.integra.SxExceptionTest" />
        <class name="sk.wlio.sx2.integra.LangSxTest" />
        <class name="sk.wlio.sx2.integra.symbol.CommaReaderTest" />
        <class name="sk.wlio.sx2.integra.declarations.DeclarationParametersReaderTest"/>
        <class name="sk.wlio.sx2.integra.declarations.DeclarationVariableReaderTest"/>
        <class name="sk.wlio.sx2.integra.declarations.BlockReaderTest"/>
        <class name="sk.wlio.sx2.integra.expression.ExpressionReaderTest" />
        <class name="sk.wlio.sx2.integra.visitors.ContextAnalysisVisitorTest"/>
    </classes>
  </test>

</suite>