<!--
  ~ Copyright viliam.kois@gmail.com Kois Viliam
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and limitations under the License.
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuit" verbose="1" >

  <test name="Zakladna funkcionalita" >
    <classes>
        <class name="sk.wlio.sx2.unit.parsers.symbol.WordParserTest"/>
        <class name="sk.wlio.sx2.unit.parsers.symbol.SymbolAbstractParserTest"/>
        <class name="sk.wlio.sx2.unit.parsers.statement.ReturnParserTest"/>
        <class name="sk.wlio.sx2.unit.parsers.statement.CommandParserTest"/>
        <class name="sk.wlio.sx2.unit.parsers.statement.ParameterParserTest"/>
        <class name="sk.wlio.sx2.unit.parsers.statement.StatementParserTest"/>
        <class name="sk.wlio.sx2.unit.parsers.declaration.DeclarationVariableParserTest"/>
        <class name="sk.wlio.sx2.unit.parsers.declaration.BlockParserTest"/>
        <class name="sk.wlio.sx2.unit.parsers.declaration.DeclarationCommandParserTest"/>
        <class name="sk.wlio.sx2.unit.parsers.declaration.DeclarationParameterParserTest"/>
        <class name="sk.wlio.sx2.unit.parsers.declaration.DeclarationProgramParserTest"/>
        <class name="sk.wlio.sx2.unit.parsers.expression.VariableParserTest" />
        <class name="sk.wlio.sx2.unit.parsers.expression.ExprSimpleParserTest" />
        <class name="sk.wlio.sx2.unit.parsers.statement.AssignmentParserTest" />
        <class name="sk.wlio.sx2.unit.parsers.statement.ConditionParserTest" />
        <class name="sk.wlio.sx2.unit.parsers.expression.IntParserTest" />
        <class name="sk.wlio.sx2.unit.parsers.OperatorParserTest" />
        <class name="sk.wlio.sx2.unit.TextContextTest" />
        <class name="sk.wlio.sx2.unit.parsers.expression.ExpressionParserTest" />
        <class name="sk.wlio.sx2.unit.parsers.symbol.BracketParserTest" />
        <class name="sk.wlio.sx2.unit.visitors.ContextAnalysisVisitorTest" />
        <class name="sk.wlio.sx2.integra.SxExceptionTest" />
        <class name="sk.wlio.sx2.integra.LangSxTest" />
        <class name="sk.wlio.sx2.integra.symbol.CommaParserTest" />
        <class name="sk.wlio.sx2.integra.declarations.DeclarationParametersParserTest"/>
        <class name="sk.wlio.sx2.integra.declarations.DeclarationVariableParserTest"/>
        <class name="sk.wlio.sx2.integra.declarations.BlockParserTest"/>
        <class name="sk.wlio.sx2.integra.expression.ExpressionParserTest" />
        <class name="sk.wlio.sx2.integra.visitors.ContextAnalysisVisitorTest"/>
    </classes>
  </test>

</suite>